In [1]:
# Question 1:
# Create a variable age and assign it the value 25 . Then print the value of
# age along with its data type using the type() function.
age = int(input())
print(type(age),age)

 25

<class 'int'> 25

In [3]:
# Question 2:
# Assign the number 12.5 to a variable price . Print both the variable and its
# data type. Then assign the value 12 to the same variable and print its data
# type again. What do you observe?
price = 12.5
print(type(price),price)
price = 12
print(type(price),price)

<class 'float'> 12.5
<class 'int'> 12

In [5]:
# Question 3:
# Create a variable is_raining and set it to True . Print the value of the variable
# along with its type. Then set is_raining to False and print the new value and
# type.
is_raining = True
print(type(is_raining),is_raining)
is_raining = False
print(type(is_raining),is_raining)

<class 'bool'> True
<class 'bool'> False

In [7]:
# Question 4:
# Create a variable my_name and store your full name in it as a string. Then
# print the value of my_name using single quotes ' .
my_name = "your full name"
print(f"'{my_name}'")

'your full name'

In [11]:
# Question 5:
# Write a Python program that asks the user for their name and age using the
# input() function. Store the inputs in variables and print a sentence like
# "Hello, [Name]! You are [Age] years old." Ensure you cast the age to an
# integer.
user_name = input()
user_age = int(input())
print("Hello, " + user_name + "! You are " + str(user_age) + " years old.")

 reshu
 22

Hello, reshu! You are 22 years old.

In [13]:
# Question 6:
# Create two variables x and y and assign them the values 10 and 3.5 ,
# respectively. Print their values and types. Then, create a new variable
# sum_xy and store the sum of x and y . Print the result and its type.
x = 10
y = 3.5
print(type(x),x)
print(type(y),y)
sum_xy = x + y
print(type(sum_xy),sum_xy)

<class 'int'> 10
<class 'float'> 3.5
<class 'float'> 13.5

In [15]:
# Question 7:
# Using the type() function, check and print the data type of the following:
# 45.0
# "hello"
# None
# False
a = 45.0
b = "hello"
c = None
d = False
print(type(a),type(b),type(c),type(d))

<class 'float'> <class 'str'> <class 'NoneType'> <class 'bool'>

In [17]:
# Question 8:
# Write a Python program to print three strings "apple" , "banana" , and "cherry"
# on the same line, separated by a space. Then modify the program to
# separate the strings using a comma , instead of a space.
print("\"apple\"","\"banana\"","\"cherry\"",sep=" ")
print("\"apple\"","\"banana\"","\"cherry\"",sep=",")

"apple" "banana" "cherry"
"apple","banana","cherry"

In [19]:
# Question 9:
# Create a variable big_number and assign it a very large integer value (e.g.,
# 987654321987654321 ). Print the value and its type. What do you notice about
# the size of the number?
big_number = 987654321987654321
print(type(big_number),big_number)

<class 'int'> 987654321987654321

In [21]:
# Question 10:
# Write a Python program that prints the result of multiplying two floats (e.g.,
# 2.5 and 3.7 ). Then check and print the data type of the result.
no1 = 2.5
no2 = 3.7
no3 = no1 * no2
print(type(no3),no3)

<class 'float'> 9.25