# Lists, Strings, Dictionaries, and Nested Structures

1. Year List Creation

    Create a list years_list that includes the year of your birth and the next five years (total 6 years).

In [1]:
birth_year = 2003  # Replace this with your actual birth year
years_list = [birth_year + i for i in range(6)]
print(years_list)

[2003, 2004, 2005, 2006, 2007, 2008]

2. Third Birthday Year

        Print the year in years_list when you were 3 years old.

In [3]:
birth_year = 2003 
years_list = [birth_year + i for i in range(6)]

third_birthday_year = years_list[3]
print("Year of 3rd birthday:", third_birthday_year)

Year of 3rd birthday: 2006

3. Oldest Year

        Which year in years_list represents the most recent (your oldest age)?

In [20]:
oldest_year = years_list[-1]  # 2005
print("Oldest Year:", oldest_year)

Oldest Year: 2008

4. List of Things

   Create a list called things with the following items:
    ["mozzarella", "cinderella", "salmonella"]

In [25]:
things = ["mozzarella", "cinderella", "salmonella"]

In [38]:
things

['mozzarella', 'Cinderella', 'salmonella']

5. Capitalization Check
   
    Capitalize the item that refers to a person in the things list.

   Print the list. Did the original list change?

In [31]:
things = ["mozzarella", "cinderella", "salmonella"]
things[1] = things[1].capitalize()
print(things)

['mozzarella', 'Cinderella', 'salmonella']

Yes, the original list did change — the second item ("cinderella") was updated to "Cinderella".

6. Surprise List

    Create a list called surprise_list with these values:

    ["Groucho", "Chico", "Harpo"]

In [34]:
surprise_list = ["Groucho", "Chico", "Harpo"]

In [36]:
surprise_list

['Groucho', 'Chico', 'Harpo']

7. String Transformation
   
   Take the last item in surprise_list:

    • Lowercase it

    • Reverse it

    • Capitalize the result

   Then print it.

In [40]:
surprise_list = ["Groucho", "Chico", "Harpo"]

# Take the last item, transform as required
result = surprise_list[-1].lower()[::-1].capitalize()

print(result)

Oprah

8. English-to-French Dictionary
    
    Create a dictionary e2f that maps these:

    • dog → chien

    • cat → chat

    • walrus → morse

  Print the dictionary.

In [56]:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9. Translate 'walrus' to French

    Use e2f to print the French word for “walrus.”

In [59]:
print(e2f["walrus"])

morse

10. Reverse Dictionary

    Create a reverse dictionary f2e from e2f using the .items() method. Print f2e.

In [63]:
f2e = {french: english for english, french in e2f.items()}
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11. Translate 'chien' to English

    Use f2e to print the English word for “chien.”

In [66]:
print(f2e["chien"])

dog

12. Get All English Words

    Print the set of all English words (the keys from e2f).

In [69]:
print(set(e2f.keys()))

{'walrus', 'cat', 'dog'}

13. Create a Nested Dictionary (life)

    Create a dictionary life structured like this:

    {

    'animals': {
    
    'cats': ['Henri', 'Grumpy', 'Lucy'],
    
    'octopi': {},
    
    'emus': {}
    
    },
    
    'plants': {},
    
    'other': {}
    
    }

In [75]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

In [77]:
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

14. Top-Level Keys

    Print the top-level keys of life.

In [80]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

15. Animal Categories

    Print the keys inside life['animals'].

In [83]:
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

16. List of Cat Names

    Print the list of cat names stored in life['animals']['cats'].

In [86]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']